body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#5a189a,#7b2cbf,#9d4edd);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    height:100vh;
    padding-top:40px;
}

/* Big heading */

.main-title{
    font-size:48px;
    color:white;
    text-align:center;
    margin-bottom:25px;
    letter-spacing:2px;
    text-shadow:3px 3px 10px rgba(0,0,0,0.3);
}

/* Main Card */

.container{
    background:#cdb4ff;
    padding:30px;
    width:360px;
    border-radius:14px;
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
}

/* Balance Card */

.balance-card{
    text-align:center;
    margin:20px 0;
    padding:20px;
    background:#e0aaff;
    border-radius:10px;
}

.balance-card h2{
    margin-top:5px;
}

/* Buttons */

button{
    padding:10px 15px;
    margin:5px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#5a189a;
    color:white;
    font-weight:bold;
}

button:hover{
    background:#3c096c;
}

/* Input */

input{
    padding:10px;
    width:60%;
    margin-top:10px;
    border-radius:6px;
    border:1px solid #ccc;
}

/* Message */

#message{
    color:red;
    margin-top:10px;
}

/* History */

.history{
    margin-top:20px;
}

.history ul{
    padding-left:20px;
}

/* Mobile Responsive */

@media (max-width:500px){

.container{
    width:90%;
}

.main-title{
    font-size:34px;
}

}